@import 'styles/theme';

.history{
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-bottom: -2em;
  //background: rgb(248, 246, 246);
  //height: 100vh;

  &.title{
    font-weight: bold;
    color: rgb(57, 102, 161);
    text-align: center;
    position: relative;
    top: 0em;
    left: -5em;
    font-size: 3vw;
    font-weight: bold;
  }

  &.button{
    //&:hover {
    //  transform: translateY(-2px);
    //}
    &:disabled {
      cursor: default;
      opacity: 0.4;
      &:hover {
        transform: none;
      }
    }
    text-align: center;
    position: relative;
    top: 4em;
    left: 9.5em;

    //padding: 6px;
    //font-weight: 700;
    text-transform: uppercase;
    font-size: 2.8vw;
    height: 4.8vw;
    width: 14vw;
    border: none;
    border-radius: $borderRadius2;
    cursor: pointer;
    opacity: 1;
    color: rgb(57, 102, 161);
    background-color: rgb(214, 222, 235);
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    display: block;
    margin-bottom: 0.8em;

  }

  &.box{
    position: relative;
    top: -9.5em;
    left: 46em;
    font-size: 1vw;
    height: 30vw;
    width: 28vw;
    border: none;
    border-radius: 1.5vw;
    background-color: rgb(19, 40, 67);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

    line-height: 2vw;
    word-break: break-all;
    padding: 1em;
    overflow: auto;
    white-space: pre-line;

  }
  &.input{
    position: relative;
    top: -20.3vw;
    left:25vw;
    height: 3vw;
    width: 12vw;
    border-radius: 0.5vw;
    color: rgb(57, 102, 161);
    border-color: rgb(57, 102, 161);
    border: solid;

    //border-width: 3px;

  }

  &.container {
    margin-top: 2em;
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
  }



  &.display{
    position: relative;
    top: 0vm;
    left: 0vw;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50px;
    background: white;
    border-color: rgb(214, 222, 235);
    border-width: 0.2vw;
    border-style: solid;
    box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.5);
    margin: 0.5vw;
  }









}








