@import 'styles/theme';

.platform {
  //align-items: center;


  &.button-container {
    display: flex;
    color: $loginTextbox;
    justify-content: center;
    width: 300px;
    margin-top: 1em;
    color: white;
    //button{
    //  margin: 0px 5px;
    //}
  }
}
