@import 'styles/theme';

$container-top: 0vw;
$container-left: 0vwpx;
$container-width: 23vw;
$container-height: 20vw;
$container-bg-color: red;

.platform-container {
  position: relative;
  border-radius: 10px;
  top: $container-top;
  left: $container-left;
  width: $container-width;
  height: $container-height;
  background-color: $container-bg-color;
}

