@import 'styles/theme';

.room-list-container{
  align-items: center;
  overflow: hidden;
  margin-bottom: -2em;

  position: relative;
  top: -5em;
  left: 25em;
  font-size: 2vw;
  height: 30vw;
  width: 28vw;
  border: none;
  border-radius: 1.5vw;
  background-color: rgb(214, 222, 235);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

  line-height: 2vw;
  word-break: break-all;
  padding: 1em;
  overflow-y: auto;
}